extends ../layout

block content
  div.row.mx-auto.text-center
    div.row.justify-content-center.align-items-center.w-100.mb-3
      h5.display-5 Current Topic: #{topic.name}
      button.btn.btn-purple.pointer.mx-2(data-toggle="collapse" data-target="#newTopic") Create New Topic

      div.collapse.navbar-collapse#newTopic
        div.mt-3.mx-auto.w-50
          form(action=`/topic` method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label(class='control-label', for='name') Topic Name
              input.form-control(type='text', name='name', id='name', autofocus=true)
            .form-group
              button.btn.btn-success(type='submit')
                i.fa.fa-envelope
                | Submit

      

    div.col-12
      if topics
        each t in topics
          a(href=`/thread?topicId=${t._id}`)
            if topic.name == t.name
              button.btn.btn-info.mx-2= t.name
            else
              button.btn.btn-outline-info.mx-2= t.name

      //- paginate buttons
      div.d-flex.justify-content-center.mt-4
        ul.pagination
          li.page-item(class=(topic.page == 1) ? "disabled not-allowed" : "pointer")
            a.page-link(href=`/thread?topicId=${topic._id}&page=${topic.page - 1}`) <<
          
          each val in (pages)
            li.page-item.pointer(class=(val == topic.page) ? "active" : undefined)
              a.page-link(href=`/thread?topicId=${topic._id}&page=${val}`)= val

          li.page-item(class=(topic.page == pages[pages.length - 1]) ? "disabled not-allowed" : "pointer")
            a.page-link(href=`/thread?topicId=${topic._id}&page=${parseInt(topic.page) + 1}`) >>
        a.px-3(href=`/thread/${topic._id}/create`)
          button.btn.btn-primary.pointer Create New Thread
      //- end paginate buttons

      if threads
        each thread in threads
          div.card.my-3.border-gold
            a.link-text(href=`/thread/${thread._id}`)
              div.card-header
                h5= thread.title
                span Creator: 
                span= thread.creatorId.email
            div.card-content.mt-2.text-center.mx-auto.w-75
              a.link-text(href=`/thread/${thread._id}`)
                p= thread.summary
              if user
                if user._id.toString() == thread.creatorId._id.toString()
                  div.row.justify-content-center
                    button.btn.btn-outline-secondary.pointer.m-2(data-toggle="collapse" data-target="#editForm") Edit
                    form(action=`/thread/remove/${thread._id}` method='POST')
                      button.btn.btn-outline-danger.pointer.m-2 Delete

                    //- EDIT FORM
                    div.collapse.navbar-collapse#editForm
                      div.mx-auto.w-50
                        form(action=`/thread/edit/${thread._id}` method='POST')
                          input(type='hidden', name='_csrf', value=_csrf)
                          .form-group
                            label(class='control-label', for='title') Title
                            input.form-control(type='text', name='title', id='title', autofocus=true)
                          .form-group
                            label(class='control-label', for='summary') Summary
                            textarea.form-control(name='summary', id='summary', rows='4')
                          .form-group
                            button.btn.btn-outline-success(type='submit')
                              i.fa.fa-envelope
                              | Submit
